.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    color: white;
}
 .btn{
     background-color: blue !important;
 }

 .light{
    background-color: white;
    color: black;
    height: 100vh;
  }
  .dark{
    background-color: black;
    color: white;
    height: 100vh;
  }